.orders-container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 70px;
    margin-bottom: 70px;
}
.product-order-card, .product-order-headings{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 10px;
    align-items: center;
}

.product-order-headings{
    font-weight: bold;
    border-bottom: 1px solid black;
}
.detail-btn{
    border-radius: 8px;
    border: 1px solid white;
    background-color: rgb(241, 10, 68);
    color: white;
    font-size: 1rem;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
}
.detail-btn:hover{
    transition: 0.5s ease;
    border: 1px solid rgb(241, 10, 68);
    color: rgb(241, 10, 68);
    background-color: transparent;
}
.detail-btn:focus{
    outline: 0;
}



.popup-modal {
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	top: 5%;
	z-index: 200;
	max-width: 800px;
	padding: 30px;
	margin: auto;
	background-color: #fff;
}

.popup-modal button {
	font-size: 26px;
	cursor: pointer;
	position: absolute;
	right: 10px;
	top: 10px;
	background-color: transparent;
	font-weight: bold;
	border: 0;
}

.overlay {
	display: none;
	position: fixed;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.5);
}
.order-head h4{
    font-size: 13px;
    font-weight: bold;
}
.popup-modal button:focus{
    outline: 0;
}
.popup-modal table{
    width: 100%;
}
.popup-modal table td, th{
    text-align: center;
}
.popup-modal table th{
    text-align: center;
}