.registration-form-container{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.registration-form-container .registration-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.registration-form-container .registration-form .reg-input{
    margin: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}
.registration-form-container .registration-form .reg-input input{
    padding: 5px;
}
.registration-form-container .registration-form #register{
    border-radius: 8px;
    border: 1px solid white;
    background-color: rgb(241, 10, 68);
    color: white;
    font-size: 1rem;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    padding: 10px 30px 10px 30px;
}
.registration-form-container .registration-form #register:hover{
    transition: 0.5s ease;
    border: 1px solid rgb(241, 10, 68);
    color: rgb(241, 10, 68);
    background-color: transparent;
}
.registration-form-container .registration-form a{
    border: 1px solid rgb(241, 10, 68);
    color: rgb(241, 10, 68);
    background-color: transparent;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
}
.registration-form-container .registration-form a:hover{
    border: 1px solid white;
    background-color: rgb(241, 10, 68);
    color: white;
    transition: 0.5s ease;
}
.error-msg{
    visibility: hidden;
    font-size: 14px;
    color: red;
    margin-top: 0;
    width: 100%;
}