*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    margin-bottom: 0;
}
p{
    margin-bottom: 0;
}

/* ======================= Header Start =============== */

.head{
    background-color: rgb(43, 41, 41);
    height: 3rem;
    margin-bottom: 30px;
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: space-between;
}

.nav-link{
    color: white; 
}
.nav-link:hover{
    color: gray;
}

.head .toggle-button{
    position: absolute;
    top: .77rem;
    left: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.head .toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 1000px) {

    .head .toggle-button{
        display: flex;
    }

    .head{
        justify-content: flex-end;
    }

	.head .navbar-left {
		display: none;
        flex-direction: column;
        justify-content: center;
		background-color: rgb(43, 41, 41, 0.95);
		position: absolute;
	    width: 100%;
	    left: 0;
	    right: 0;
	    top: 48px;
	}
    .head .navbar-left.active{
        display: flex;
    }
}


/* ======================= Header End =============== */

/* ======================= First Section Start=============== */

.firstSection{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
}

.firstLeft{
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-around; */
    font-size: 16px;
}
.firstLeft p{
    margin: 0;
}
.firstLeft .mail a{
    color: black;
    text-decoration: underline; 
}
.firstLeft .logo{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.firstLeft .logo img{
    height: 110px;
    width: 270px;
}
.firstLeft .logo-text{
    display: flex;
    width: 60%;
    flex-direction: row;
    justify-content: space-evenly;
}
.firstRight{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.firstRight a{
    text-decoration: none;
    color: black;
}
.firstRight i{
    margin-right: 25px;
}
.bag{
    position: relative;
}
.shopping-card{
    width: 400px;
    height: 400px;
    background-color: rgba(255, 56, 89, 0.9);
    position: absolute;
    right: -330%;
    z-index: 1;
    display: none;
    box-shadow: 0.4px 0.4px 2px 0.4px #9e9e9e;
    border: none;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    overflow: scroll;
}
.shopping-card .card-heading{
    width: 100%;
    text-align: center;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: center;
    margin: 3px;
    border: none;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    padding: 5px;
}
.shopping-card .ordered-product{
    width: 100%;
    text-align: center;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: space-evenly;
    margin: 3px;
    border: none;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    padding: 50px 30px 50px 30px;
}
.shopping-card .ordered-product .amounth{
    padding: 10px 15px 10px 15px;
    margin: 10px;
    border: none;
    background-color: rgb(255, 56, 89);
    border: 2px solid rgb(255, 56, 89);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.shopping-card .ordered-product .amounth:hover{
    color: rgb(255, 56, 89);
    border: 2px solid rgb(255, 56, 89);
    background: transparent;
}

.shopping-card.active{
    display: flex;
}

@media (max-width: 1000px){
    .firstLeft .logo-text{
        flex-direction: column;
        align-items: center;
    }
    .firstLeft .logo-text .mail p{
        font-size: 14px;
    }
    .firstLeft .logo-text .mail a{
        font-size: 12px;
    }
    .firstLeft .logo-text .contact p{
        font-size: 14px; 
    }
    .firstLeft .logo-text .contact h5{
        font-size: 12px;
    }
    .firstLeft{
        width: 100%;
        justify-content: flex-end;
    }
    .firstSection{
        flex-direction: column;
    }
    .firstLeft .logo img{
        height: 100px;
        width: 190px;
    }
}


/* ======================= First Section End=============== */

/* ======================= Second Section Start=============== */
.secondSection{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
}
.dropDown{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.dropDown ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
}
.dropDown ul li{
    color: black;
    margin-right: 20px;
    font-size: 14px;
}
.dropDown ul a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.dropDown ul a:hover{
    color: gray;
}
.dropDown button{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 14px;
    border-radius: 5px;
    background-color: rgb(255, 56, 89);
    color: white;
    border: none;
    font-weight: bold;
    margin-right: 1rem;
}
.searchbar{
    width: 40%;
    display: flex;
    justify-content: center;
}
.search-form{
    position: relative;
    width: 70%;
}
.search-form i{
    position: absolute;
    top: 9px;
    right: 10px;
    font-weight: bold;
}
.search-form a{
    color: black;
}
.search-form a:hover{
    color: gray;
    transition: .5s ease;
}

@media (max-width: 1000px){
    .dropDown{
        flex-direction: column;
        text-align: center;
        /* margin-left: 1rem; */
        margin-bottom: 2rem;
    }
    .dropDown button{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .secondSection{
        flex-direction: column;
    }
    .search-form{
        width: 100%;
    }
}

/* ======================= Second Section End=============== */


/* ======================= Hero Section Start=============== */
.photogroup{
    display: flex;
    position: relative;
}

.photogroup .overText{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(233, 226, 226, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    cursor: pointer;
}
.photogroup .overText:hover{
    opacity: 1;
    transition: 0.5s;
}
.overText .detailInfo{
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid black;
    color: white;
    margin-bottom: 20px;
    background-color: black;
}
.overText h1 , p{
    text-transform: uppercase;
    font-weight: bold;
}

.overText .shop{
    padding: 8px 30px 8px 30px;
    border: none;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}
.overText .shop:focus{
    outline: 0;
}
/* ======================= Hero Section End=============== */

/* ======================= Feautured Ofers Section End=============== */

.naslov{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-right: 40px;
}
.naslov h1{
    font-size: 30px;
    font-weight: 800;
}
.naslov a{
    font-size: 16px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}
.naslov a:hover{
    color: gray;
    transition: 0.5s;
    text-decoration: none;
}
.artikli{
    display: grid;
    align-items: center;
    gap: 50px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
 
}
.artikli:first-child{
    margin-left: 40px;
}
.product{
    width: auto;
    height: 60vh;
    box-shadow: 0.4px 0.4px 2px 0.4px #9e9e9e;
    display: grid;
    grid-template-rows: 60% 40%;
    overflow: hidden;
    overflow: visible;
    position: relative;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}
.product .image-logo{
   display: flex;
   justify-content: center;
   align-items: center;
}
.product .image-logo img{
    margin-bottom: 20px;
}
.category h4{
    font-size: 16px;
    text-transform: uppercase;
    color: gray;
    font-weight: bold;
}
.category p{
    font-size: 14px;
}
.category h5{
    font-weight: bold;
}
/* ======================= Feautured Ofers Section End=============== */

/* ======================= This Week Details Section Start=============== */

.container{
    margin-bottom: 80px;
}

.this-week-product{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0.4px 0.4px 2px 0.4px #9e9e9e;
    padding: 20px;
}

/* ======================= This Week Details Section End=============== */

/* ======================= Partner Baners Section Start=============== */

.saradnici{
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px; */
    display: grid;
    /* grid-template-columns: auto auto auto auto auto auto; */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    text-align: center;
}
.saradnici .slide img{
    width: 150px;
    height: 150px;
    
}

/* ======================= Partner Baners Section End=============== */


/* =======================  Subscribe Section Start=============== */

.subscribe-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: rgb(43, 41, 41);
    margin-bottom: 80px;
}
.subscribe-container .message{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    margin-right: 20px;
    margin-right: 20px;
}
.subscribe-container .message .message-icon{
    padding: 15px;
}
.subscribe-container .message .message-text{
    line-height: 0;
}
.subscribe-container .message .message-text h2{
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 5px;
}
.subscribe-container .message .message-text p{
    font-size: 11px;
    text-transform: capitalize;
    color: gray;
    margin-bottom: 0px;
}
.subscribe-container .subscribe-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-right: 40px;
}
.subscribe-container .subscribe-form input{
    padding: 10px;
    border-radius: 5px;
    border: none;
}
.subscribe-container .subscribe-form #mail-input{
    width: 300px;
}
.subscribe-container .subscribe-form #submit{
    width: 100px;
    color: white;
    background-color: rgb(241, 10, 68);
    font-size: 12px;
    font-weight: bold;
    padding: 13px;
}
.subscribe-container .social-media{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: auto;
}
.subscribe-container .social-media .social-media-text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    
}
.subscribe-container .social-media .social-media-text p{
    margin-bottom: 0px;
}

.subscribe-container .social-media .social-media-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.subscribe-container .social-media .social-media-icons a{
    color: white;
    margin-right: 20px;
    text-decoration: none;
}
.subscribe-container .social-media .social-media-icons a:hover{
    color: gray;
    transition: 0.3s ease;
}

@media (max-width: 1150px){
    .subscribe-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* =======================  Subscribe Section End=============== */

/* =======================  Contact And Info Section Start=============== */

.informations{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin-bottom: 40px;
    margin-left: 65px;
}
.informations .info{
    list-style: none;
}
.informations .info .item{
    color: rgb(131, 130, 130);
    font-size: 14px;
    padding: 5px;
}
.informations .info .item a{
    text-decoration: none;
    color: rgb(131, 130, 130);

}
.informations .info .first{
    text-transform: uppercase;
    padding-bottom: 25px;
    color: rgb(65, 63, 63);
    font-weight: 800;
}
.informations .info .item .fas{
    padding-right: 10px;
}
.informations .info .item p{
    font-size: 10px;
    margin-bottom: 0px;
    text-transform: capitalize;
}
.informations .info .item .mail-contact{
    font-weight: bold;
    font-size: 18px;
    color: rgb(43, 41, 41);
    border-bottom: 1px solid red;
}

/* ======================= Contact And Info Section End=============== */


/* ======================= Guarantee Section Start=============== */

.guarantee-section-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 40px;
    box-shadow: 0.4px 0.4px 2px 0.4px #d8d5d5;
    padding-bottom: 30px;
    padding-top: 30px;
}
.guarantee-section-container .guarantee-article{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.guarantee-section-container .guarantee-article .guarantee-text h4{
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 5px;
}
.guarantee-section-container .guarantee-article .guarantee-text p{
    font-size: 10px;
    margin-bottom: 0px;
    text-transform: capitalize;
    color: #9e9e9e;
}
.guarantee-section-container .guarantee-article .guarantee-icon i{
    margin-right: 20px;
}

@media (max-width: 800px){
    .guarantee-section-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* ======================= Guarantee Section End=============== */


/* =======================Footer Start=============== */

.foot{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
}
.foot .left-footer{
    font-size: 14px;
    font-weight: bold;
}
.foot .right-footer ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    font-size: 14px;
}
.foot .right-footer ul li{
    margin-right: 20px;
}
.foot .right-footer ul a{
    color: gray;
    text-decoration: none;
}
@media (max-width: 1150px){
    .foot{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* =======================Footer End=============== */