.popup-modal{
    flex-direction: column;
    /* position: relative; */
}
.popup-order-modal .product-details{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.popup-order-modal .order-button{
    border-radius: 8px;
    border: 1px solid white;
    background-color: rgb(241, 10, 68);
    color: white;
    font-size: 1rem;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
}
.popup-order-modal .order-button:hover{
    transition: 0.5s ease;
    border: 1px solid rgb(241, 10, 68);
    color: rgb(241, 10, 68);
    background-color: transparent;
}
.popup-orer-modal .order-form{
    margin: 10px;
}