*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    margin-bottom: 0;
}


/* ================= Hero Section Start ============== */

.hero-shop-container{
    display: grid;
    grid-template-columns: 4fr 8fr;
    background-color: rgb(236, 233, 233);
}
.hero-shop-container .categories-container{
    padding: 20px;
}
.hero-shop-container .products-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: 400px;
    gap: 20px;
    margin: 20px;
}

.product-card {
    box-shadow: 0.4px 0.4px 2px 0.4px #9e9e9e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: transparent;
    border: none;
}
.product-card .over-text{
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-card .over-text a{
    border-radius: 8px;
    border: 1px solid white;
    background-color: rgb(241, 10, 68);
    color: white;
    font-size: 1rem;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
}
.product-card .over-text a:hover{
    transition: 0.5s ease;
    border: 1px solid rgb(241, 10, 68);
    color: rgb(241, 10, 68);
    background-color: transparent;
}
.product-card .over-text a:focus{
    outline: 0;
}
.product-card:hover .over-text{
    opacity: 1;
    transition: 0.5s linear;
}
.product-card:hover{
    cursor: pointer;
}

.product-card .category{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.product-card .image-logo{
    margin-bottom: 20px;
}
.hero-shop-container .categories-container .home-box{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    margin-bottom: 40px;
}
.hero-shop-container .categories-container .home-box h2{
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 60px;
}
.hero-shop-container .categories-container .home-box .home-filter{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.hero-shop-container .categories-container .home-box .home-filter button{
    border: none;
    background-color: white;
    margin-bottom: 10px;
    cursor: pointer;
}
.hero-shop-container .categories-container .home-box .home-filter button:focus{
    outline: 0;
}

.checkbox-filter label{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.checkbox-filter label input{
    margin: 10px;
}

.hide {
    display: none;
}

.price-input{
    width: 100%;
    display: flex;
    margin: 30px 0 35px;
}
.price-input .field{
    display: flex;
    width: 100%;
    height: 45px;
    align-items: center;
}
.field input{
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 19px;
    margin-left: 12px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #999;
    -moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.price-input .separator{
    width: 130px;
    display: flex;
    font-size: 19px;
    align-items: center;
    justify-content: center;
}
.slider{
    height: 5px;
    position: relative;
    background: #ddd;
    border-radius: 5px;
    width: 100%;
}
.slider .progress{
    height: 100%;
    left: 17%;
    right: 25%;
    position: absolute;
    border-radius: 5px;
    background: rgb(255, 56, 89);
}
.range-input{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.range-input input{
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
input[type="range"]::-webkit-slider-thumb{
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: rgb(255, 56, 89);
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.05);
}
input[type="range"]::-moz-range-thumb{
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    background: rgb(255, 56, 89);
    pointer-events: auto;
    -moz-appearance: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.05);
}
/* ================= Hero Section End ============== */

.popup-order-modal {
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	top: 5%;
	z-index: 200;
	max-width: 800px;
	padding: 30px;
	margin: auto;
	background-color: #fff;
}

.popup-order-modal button {
	font-size: 26px;
	cursor: pointer;
	position: absolute;
	right: 10px;
	top: 10px;
	background-color: transparent;
	font-weight: bold;
	border: 0;
}

.overlay {
	display: none;
	position: fixed;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.5);
}