.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}
.login-container .login-form{
    display: flex;
    flex-direction: column;
}
.login-container .login-form #password{
    margin-bottom: 20px;
}
.login-container .login-form #login-btn{
    border-radius: 8px;
    border: 1px solid white;
    background-color: rgb(241, 10, 68);
    color: white;
    font-size: 1rem;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
}
.login-container .login-form #login-btn:hover{
    transition: 0.5s ease;
    border: 1px solid rgb(241, 10, 68);
    color: rgb(241, 10, 68);
    background-color: transparent;
}
.login-container .login-form #username, #password{
    padding: 5px;
}
.login-container .login-form #username:focus, #password:focus{
    outline: 0;
}
.false{
    border: 2px solid red;
    border-radius: 5px;
}
.true{
    border: 2px solid green;
    border-radius: 5px;
}