.secondSection .dropDown ul .dropdown-active{
    color: rgb(255, 56, 89);
}

  /* ======================= Hero Section Start =============== */
  .hero-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(236, 233, 233);
  }
  .hero-container .store-information{
      color: gray;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      margin: 30px;
  }
  .hero-container .store-information h2{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 22px;
    color: rgb(77, 77, 77);
  }
  .hero-container .store-location, .store-mail{
      display: flex;
      flex-direction: row;
  }
  .location-text, .mail-text{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 0px;
      align-items: center;
      justify-content: center;
  }
  .location-icon, .mail-icon{
      display: flex;
      align-items: flex-start;
      margin-right: 20px;
  }
  .mail-text p, .location-text p{
      margin-bottom: 0px;
      text-transform: capitalize;
  }
  .store-mail .mail-text a{
      color: gray;
      text-decoration: none;
      cursor: pointer;
  }

  .map-container-form{
    background-color: white;
    margin-top: 40px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
  }
  .map-container-form form{
      display: flex;
      flex-direction: column;
  }
  input[type=text], [type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  #email:focus{
    outline: 0;
  }
  button[type=submit] {
    background-color: #b93854;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  button[type=submit]:focus{
    outline: 0;
  }
  .container {
    border-radius: 5px;
    padding: 20px;
  }
  .col-50 {
    width: 47%;
    margin: 10px;
  }
.col-100{
    width: 100%;
    margin: 10px;
    display: flex;
    justify-content: center;
}
.row{
  display: flex;
  flex-wrap: nowrap;
}
.form-row-first{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
}
#file-chose{
    width: 80%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.col-25 {
    width: 20%;
    margin: 10px;
  }
  
  .col-75 {
    width: 70%;
    margin: 10px;
  }
  .file{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }
  #email, #subject, #post-comment:focus{
    outline: 0;
  }


  .map-container-form h2{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 22px;
    color: rgb(77, 77, 77);
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .map-container-form p{
    font-size: 14px;
    color: rgb(131, 130, 130);
  }
  .text-error, .mail-error, .select-error{
    color: red;
    visibility: hidden;
  }

  @media (max-width: 1150px){
    .hero-container{
      flex-direction: column;
    }
    input[type=email]{
      width: 100%;
    }
    .col-50{
      width: 100%;
    }
  }
  /* ======================= Hero Section End =============== */